<% include head %>
<% include top %>
<% include main-top %>

<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>About Us</h1>
            </div>
        </div>
    </div>
</div>
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="noo-sh-title">We are <span>99Books</span></h2>
                <p style="text-align: justify;">99Books is a virtual repository of learning resources which is not just a repository with search/browse facilities but provides a host of services for the learner community.Filtered and federated searching is employed to facilitate focused searching so that learners can find the right resource with least effort and in minimum time.</p>
                <p style="text-align: justify;">99Books provides user books for School and College students. 99Books is designed to hold content of learners' choice and provides facility for vendors. It can also help in the improvement of the business of small vendors. It provides the platform for both the small and the large book vendors to sell their books at ease</p>
                <p style="text-align: justify;">It is built to provide support for all academic levels including for life-long learners, all disciplines, all popular forms of access devices, and differently-abled learners. It is designed to enable people to learn and it makes available of books easily. It is developed, operated, and maintained by the 99Books team.</p>
            </div>
            <div class="col-lg-6">
                <div class="banner-frame">
                    <img class="img-thumbnail img-fluid" style="height: 450px; width: 500px;" src="images/about-img.jpg" alt="Libersary-girl-image" />
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Trusted</h3>
                    <p style="text-align: justify;">Trust is changing day by day. As users and consumers look towards review, problems emerge. And hence we make our website easier and user friendly. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Professional</h3>
                    <p style="text-align: justify;">We are professionals who understand the importance of books and provide you best books at a minimum price. We drive success through teamwork, and accountability. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Expert</h3>
                    <p style="text-align: justify;">we are an expert at online bookselling. We are always working to find you the best books. </p>
                </div>
            </div>
        </div>
        <% include profile %>
    </div>
</div>

<% include instagram-feed %>
<% include footer %>
<% include copyright %>
