<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>99books</title>
    <meta name="keywords" content="99books">
    <meta name="description" content="Book Selling portal">
    <meta name="author" content="">

    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/ico" href="../../images/favicon.ico"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../../css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../../css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../css/custom.css">
  	<!-- Animate.css -->
	  <link rel="stylesheet" href="../../css/animate.css">
	  <!-- Icomoon Icon Fonts-->
  	<link rel="stylesheet" href="../../css/icomoon.css">
	  <!-- Magnific Popup -->
  	<link rel="stylesheet" href="../../css/magnific-popup.css">
  	<!-- Salvattore -->
	  <link rel="stylesheet" href="../../css/salvattore.css">

    <!-- Modernizr JS -->
	  <script src="../../js/modernizr-2.6.2.min.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- NAVBAR -->


<body>

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="../../"><img src="../../images/logo.jpg" class="logo" alt="logo 99books Readers are leaders" style="width: 170px; height: 80px;"></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">

                        <!-- ADMIN HOME start -->
                        <li class="nav-item "><a class="nav-link" href="/admin">Admin Home</a></li>
                        <!-- ADMIN HOME end -->

                        <!-- Manage Users start -->
                        <li class="nav-item "><a class="nav-link" href="/admin/manageusers">Users</a></li>
                        <!-- Manage Users end -->

                        <!-- Categories start -->
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories<i class="fas fa-caret-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/admin/addcategories">Add Categories</a></li>
                                <li><a href="/admin/addsubcategories">Add Sub-Categories</a></li>
                                <li><a href="/admin/managecategory">Manage Categories</a></li>
                                <li><a href="/admin/managesubcategory">Manage Sub-Categories</a></li>
                            </ul>
                        </li>
                        <!-- Categories end -->
                        
                        <!-- Product start -->
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Products<i class="fas fa-caret-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/admin/addproduct">Add Product</a></li>
                                <li><a href="/admin/manageproduct">Manage Product</a></li>
                                <li><a href="/admin/viewselladmin">Manage User's Product</a></li>
                            </ul>
                        </li>
                        <!-- Product end -->

                        <!-- All Orders start -->
                        <li class="nav-item"><a class="nav-link" href="/admin/adminprofile">My Account</a></li>
                        <!-- All Order end -->

                        <!-- profile start -->
                        <li class="nav-item"><a class="nav-link" href="/admin/viewordersadmin">All Orders</a></li>
                        <!-- profile end -->
                        
                        <!-- State city start -->
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Address<i class="fas fa-caret-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/admin/addstate">Add State</a></li>
                                <li><a href="/admin/addcity">Add City</a></li>
                                <li><a href="/admin/managestate">Manage State</a></li>
                                <li><a href="/admin/managecity">Manage City</a></li>
                            </ul>
                        </li>
                        <!-- state city end -->
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <!-- Login start -->
                        <li class="nav-item"><a class="nav-link" href="../../login">Logout</a></li>
                        <!-- Login end -->
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->
    <div style="color: #d33b33; right:10px; position: fixed; top: 75px; z-index: 9999; font-weight: 900; font-size: 16px;">
        <strong>Welcome: <%= sunm %></strong>
    </div>