<!-- Start Blog  -->
<div class="latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Latest Blog</h1>
                    <p>Check out our newest blog.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="images/blog-img.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3>Travel lovers book blog</h3>
                            <p style="text-align: justify;">Of course, I like my new little gem. :) It's a book blog geared toward people who love to curl up with a good book, but also want to explore the real world inspired by literature! Life should be as fun as fiction!</p>
                        </div>
                        <ul class="option-blog">
                            <li><a style="color: white;"><i class="fas fa-award"></i></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="images/blog-img-01.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3>Book reading is a good habit</h3>
                            <p style="text-align: justify;">Book reading is a good habit, The secret of success of successful people is the habit of reading a good book.</p>
                        </div>
                        <ul class="option-blog">
                            <li><a style="color: white;"><i class="fas fa-award"></i></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="images/blog-img-02.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3>The Millions</h3>
                            <p style="text-align: justify;">The Millions is a spunky online magazine flush with articles. You can search for your favorite books to view all the articles and essays that mention them, or you can delve into current book news and featured topics.</p>
                        </div>
                        <ul class="option-blog">
                            <li><a style="color: white;"><i class="fas fa-award"></i></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Blog  -->
