<div id="fh5co-main">
    <div class="container-gallery">
        <div class="row">
            <div id="fh5co-board" data-columns>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_1.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_1.jpg" alt="Free HTML5 Bootstrap template"></a>
                    </div>
                    <div class="fh5co-desc">Love is the magic ingredient that makes a disciplined life possible.</div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_2.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_2.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">A room without books is like a body without a soul.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_3.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_3.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">Take a good book to bed with you—books do not snore.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_4.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_4.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">"Where God guides, He provides."</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_5.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_5.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">Problems are not stop signs, they are guidelines.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_6.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_6.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">Home is a shelter from storms-all sorts of storms.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_7.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_7.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">the train slows down", it's the Caise do Sodre`. i arrived to Lisbon(LISAABON), but not a conclusion.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_8.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_8.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">Love is love. You can't fight it, and even if you do, it will always win.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_9.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_9.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">Better to reign in Hell than serve in Heaven.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_21.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_21.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">Turkish-islamic pioneers in astronomy.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_10.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_10.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">Reading is a conversation. All Books talk, but the good book listens as well.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_11.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_11.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">Never underestimate the power of a kind word or deed.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">   
                        <a href="../../images/gallery/gallery-img_12.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_12.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">Loneliness is a sign you are in desperate need of yourself.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_13.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_13.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">The World's No. 1 Storyteller "ROALD DAHL".</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_14.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_14.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">Explore the World around you.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_15.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_15.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">You are supposed to be leading lady of your own life for God's sake!</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_16.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_16.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">The pain you've been feeling cant compared to the joy that is coming.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_18.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_18.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">Start living the Adventure of Yes.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_17.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_17.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">Your Soul is a River by NIKITA GILL.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_19.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_19.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">Live your life as <strong>E</strong>xclamation not an <strong>E</strong>xplanation.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_20.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_20.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">This is my body which is given for you.</div>
                    </div>
                </div>
                
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_22.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_22.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">Seeking Revival in the Everyday.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_23.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_23.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">I shall be miserable if I have not an Excellent library.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_24.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_24.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">Good friends, good books, and a sleepy conscience: this is the ideal life.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_25.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_25.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">There is no friend as loyal as Book.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_26.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_26.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">The flowers appear on the earth; the time of the singing of birds is come.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_27.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_27.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">Simplicity is the ultimate form of Sophistication.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_28.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_28.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">Reading should not be presented to children as a chore, a duty. It should be offered as a gift.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_29.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_29.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">If someone tells you "You can't", they are showing you there limits not Yours.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="animate-box">
                        <a href="../../images/gallery/gallery-img_30.jpg" class="image-popup fh5co-board-img"><img src="../../images/gallery/gallery-img_30.jpg" alt="Free HTML5 Bootstrap template"></a>
                        <div class="fh5co-desc">Reading is a conversation.</div>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>