<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>99books</title>
    <meta name="keywords" content="99books">
    <meta name="description" content="Book Selling portal">
    <meta name="author" content="">

    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">
  	<!-- Animate.css -->
	  <link rel="stylesheet" href="css/animate.css">
	  <!-- Icomoon Icon Fonts-->
  	<link rel="stylesheet" href="css/icomoon.css">
	  <!-- Magnific Popup -->
  	<link rel="stylesheet" href="css/magnific-popup.css">
  	<!-- Salvattore -->
	  <link rel="stylesheet" href="css/salvattore.css">

    <!-- Modernizr JS -->
	  <script src="js/modernizr-2.6.2.min.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
