<!-- Start Instagram Feed  -->
<div class="instagram-box">
    <div class="main-instagram owl-carousel owl-theme">
        <div class="item">
            <div class="ins-inner-box">
                <img src="../../images/instagram/instagram-img-01.png" alt="bowl and open book content heading past" />
                <div class="hov-in">
                    <a href="https://www.instagram.com/99books.ob/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="../../images/instagram/instagram-img-02.jpg" alt="10 books named panlo coelho" />
                <div class="hov-in">
                    <a href="https://www.instagram.com/99books.ob/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="../../images/instagram/instagram-img-03.jpg" alt="royal books" />
                <div class="hov-in">
                    <a href="https://www.instagram.com/99books.ob/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="../../images/instagram/instagram-img-04.jpg" alt="book with page anchor" />
                <div class="hov-in">
                    <a href="https://www.instagram.com/99books.ob/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="../../images/instagram/instagram-img-05.jpg" alt="multiple books cover page" />
                <div class="hov-in">
                    <a href="https://www.instagram.com/99books.ob/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="../../images/instagram/instagram-img-06.jpg" alt="bookheart" />
                <div class="hov-in">
                    <a href="https://www.instagram.com/99books.ob/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="../../images/instagram/instagram-img-07.jpg" alt="shelf stores books and laptop" />
                <div class="hov-in">
                    <a href="https://www.instagram.com/99books.ob/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="../../images/instagram/instagram-img-08.png" alt="multiple books cover page(life changing books)" />
                <div class="hov-in">
                    <a href="https://www.instagram.com/99books.ob/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="../../images/instagram/instagram-img-09.jpg" alt="open book with coffee and glass" />
                <div class="hov-in">
                    <a href="https://www.instagram.com/99books.ob/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="../../images/instagram/instagram-img-10.jpg" alt="many books one on top another" />
                <div class="hov-in">
                    <a href="https://www.instagram.com/99books.ob/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="../../images/instagram/instagram-img-11.jpg" alt="book named a-little-life with coffee and plant " />
                <div class="hov-in">
                    <a href="https://www.instagram.com/99books.ob/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="../../images/instagram/instagram-img-12.jpg" alt="many open books" />
                <div class="hov-in">
                    <a href="https://www.instagram.com/99books.ob/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="../../images/instagram/instagram-img-13.jpg" alt="magic in old book" />
                <div class="hov-in">
                    <a href="https://www.instagram.com/99books.ob/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="../../images/instagram/instagram-img-14.jpg" alt="text and pictures in open book" />
                <div class="hov-in">
                    <a href="https://www.instagram.com/99books.ob/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="../../images/instagram/instagram-img-15.jpg" alt="harry porter" />
                <div class="hov-in">
                    <a href="https://www.instagram.com/99books.ob/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Instagram Feed  -->