<!-- NAVBAR -->


<body>

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/"><img src="images/logo.jpg" class="logo" alt="logo 99books Readers are leaders" style="width: 170px; height: 80px;"></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <!-- HOME start -->
                        <li class="nav-item "><a class="nav-link" href="/">Home</a></li>
                        <!-- HOME end -->

                        <!-- About Us start -->
                        <li class="nav-item "><a class="nav-link" href="/about">About Us</a></li>
                        <!-- About Us end -->

                        <!-- Gallery start -->
                        <li class="nav-item"><a class="nav-link" href="gallery">Gallery</a></li>
                        <!-- Gallery end -->
                        
                        <!-- Our Service Us start -->
                        <li class="nav-item"><a class="nav-link" href="service">Our Service</a></li>
                        <!-- Our Service end -->
                        
                        <!-- Contact Us start -->
                        <li class="nav-item"><a class="nav-link" href="contact">Contact Us</a></li>
                        <!-- Contact Us end -->
                        
                        
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <!-- Login start -->
                        <li class="nav-item"><a class="nav-link" href="login">Login</a></li>
                        <!-- Login end -->
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
        </nav>
        <!-- End Navigation -->
    </header>
<!-- End Main Top -->


