<% include userhead %>

<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>My Account</h1>
            </div>
        </div>
    </div>
</div>
<div class="my-account-box-main">
    <div class="container">
        <div class="my-account-page">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon">
                                <a href="/users/viewordersuser"> <i class="fa fa-gift"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>Your Orders</h4>
                                <p>View your order details.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon">
                                <a href="/users/my-account/cpuser"><i class="fas fa-unlock-alt"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>Login &amp; security</h4>
                                <p>Edit password</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon">
                                <a href="/users/my-account/address"> <i class="fas fa-map-marker-alt"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>Your Address</h4>
                                <p>Edit address for orders and gifts</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon">
                                <a href="/users/my-account/epuser"> <i class="fas fa-user"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>Profile</h4>
                                <p>View and update your profile.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon">
                                <a href="/users/sell"> <i class="fas fa-barcode"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>Sell On 99Books</h4>
                                <p>Add Books here for sell.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon">
                                <a href="/users/viewselluser"> <i class="fas fa-chart-bar"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>View Selling</h4>
                                <p>Your selling Book.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<% include instagram-feed %>
<% include userfooter %>
