<div class="row my-4">
    <div class="col-12">
        <h2 class="noo-sh-title">Meet Our Team</h2>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="hover-team">
            <div class="our-team"> <img src="../../images/profile/img-1.jpg" alt="Ranjeet vishwakarma" />
                <div class="team-content">
                    <h3 class="title">Ranjeet Vishwakarma</h3> <span class="post">Web Developer</span> </div>
                <ul class="social">
                    <li>
                        <a href="https://www.facebook.com/ran.vishwakarma29/" class="fab fa-facebook"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/ranjeet_v29/" class="fab fa-instagram"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/ranjeet-vishwakarma-b01088202/" class="fab fa-linkedin"></a>
                    </li>
                </ul>
                <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
            </div>
            <div class="team-description">
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna diam, maximus ut ullamcorper quis, placerat id eros. Duis semper justo sed condimentum rutrum. Nunc tristique purus turpis. Maecenas vulputate. </p> -->
            </div>
            <hr class="my-0"> </div>
    </div>

    <div class="col-lg-1"></div>

    <div class="col-sm-6 col-lg-3">
        <div class="hover-team">
            <div class="our-team"> <img src="../../images/profile/img-2.jpg" alt="" />
                <div class="team-content">
                    <h3 class="title">Anjali Shivhare</h3> <span class="post">Web Developer</span> </div>
                <ul class="social">
                    <li>
                        <a href="https://m.facebook.com/ashi.shivhare.967/" class="fab fa-facebook"></a>
                    </li>
                    <li>
                        <a href="" class="fab fa-instagram"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/anjali-shivhare-3ab3791b1/" class="fab fa-linkedin"></a>
                    </li>
                </ul>
                <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
            </div>
            <div class="team-description">
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna diam, maximus ut ullamcorper quis, placerat id eros. Duis semper justo sed condimentum rutrum. Nunc tristique purus turpis. Maecenas vulputate. </p> -->
            </div>
            <hr class="my-0"> </div>
    </div>

    <div class="col-lg-1"></div>

    <div class="col-sm-6 col-lg-3">
        <div class="hover-team">
            <div class="our-team"> <img src="../../images/profile/img-3.jpg" alt="" />
                <div class="team-content">
                    <h3 class="title">Sourav Malviya</h3> <span class="post">Web Developer</span> </div>
                <ul class="social">
                    <li>
                        <a href="https://www.facebook.com/sourav.malviya.524/" class="fab fa-facebook"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/sourav.malviya.524/" class="fab fa-instagram"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/sourav-malviya-139a78213/" class="fab fa-linkedin"></a>
                    </li>
                </ul>
                <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
            </div>
            <div class="team-description">
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna diam, maximus ut ullamcorper quis, placerat id eros. Duis semper justo sed condimentum rutrum. Nunc tristique purus turpis. Maecenas vulputate. </p> -->
            </div>
            <hr class="my-0"> 
        </div>
    </div>
    
</div>
