<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="images/slider-1.jpg" alt="flat tilt open book with dull-orange color background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
<!-- login link -->     <h1 class="m-b-20"><strong>Welcome To <a href="#" class="slider-text-link"> 99BOOKS </a><br> Ocean of book</strong></h1>
                        <p class="m-b-40">Read different to think differently; world is already into rat race.<br> ― Aman Jassal</p>
                        <p><a class="btn hvr-hover" href="#">Shop Now</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-left">
            <img src="images/slider-2.jpg" alt="closed and flat tilt 2 books with white background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> <a href="#" class="slider-text-link"> 99BOOKS </a> <br> Ocean of book</strong></h1>
                        <p class="m-b-40">the great success tool is reading more to obtain the skills <br> you need to start working on your dream.<br> ― Anath Lee Wales</p>
                        <p><a class="btn hvr-hover" href="#">Shop Now</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-left">
            <img src="images/slider-3.jpg" alt="blank book with hill image with dull-black background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> <a href="#" class="slider-text-link"> 99BOOKS </a> <br> Ocean of book</strong></h1>
                        <p class="m-b-40">Maybe this is why we read, <br> and why in moments of darkness we return to books: <br> to find words for what we already know.<br> ― Alberto Manguel</p>
                        <p><a class="btn hvr-hover" href="#">Shop Now</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-left">
            <img src="images/slider-4.jpg" alt="open book in night with moon background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> <a href="#" class="slider-text-link"> 99BOOKS </a> <br> Ocean of book</strong></h1>
                        <p class="m-b-40">“Read a thousand books, and your words will flow like a river.” <br> ― Lisa See</p>
                        <p><a class="btn hvr-hover" href="#">Shop Now</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->