<% include userhead %>

<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Contact</h1>
            </div>
        </div>
    </div>
</div>
<!-- Start Contact Us  -->
<div class="contact-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="contact-info-left">
                    <h2>CONTACT INFO</h2>
                    <p style="text-align: justify;">We are available 24x7 and always glad to help you, If you have any queries our team members will always be happy to help. Feel free to contact us by telephone or email and we will be sure to get back to you as soon as possible. Or if you have any suggestions, please let us know, we will glad to know your suggestions.</p>
                    <ul>
                        <li>
                            <p><i class="fas fa-map-marker-alt"></i>Address: ABC <br>XYZ,<br> PQ 12345 </p>
                        </li>
                        <li>
                            <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+91-XXXXXXXXXXX">+91-XXXXX-XXXXX</a></p>
                        </li>
                        <li>
                            <p><i class="fas fa-envelope"></i>Email: <a href="99books.ob@gmail.com">99books.ob@gmail.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12">
                <div class="contact-form-right">
                    <h2>GET IN TOUCH</h2>
                    <p style="text-align: justify;">Let us know if you have faced any issues or you have any query feel free to ask us. We will contact you as soon as possible. Or if you have any suggestions, please let us know, we will glad to know your suggestions. </p>
                    <form method="POST" action="https://formsubmit.co/56d06db42e03f948c43bdb4f53917588">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" style="text-transform: capitalize;" value="<%= userContact.name %>" required>
                                    <!-- <div class="help-block with-errors"></div> -->
                                </div>
                            </div>
                            <input type="hidden" name="_cc" value="ranjeetvishwakarma7662@gmail.com,souravmalviya379@gmail.com,shivhareanjli10@gmail.com">
                            <input type="hidden" name="_next" value="https://books99ob.herokuapp.com/users/userthankyou">
                            <input type="hidden" name="_captcha" value="false">
                            <input type="hidden" name="_template" value="table">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="email" placeholder="Your Email" class="form-control" name="email" value="<%= userContact.email %>" required readonly>
                                    <!-- <div class="help-block with-errors"></div> -->
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="tel" placeholder="Mobile Number" class="form-control" name="mobile" value="<%= userContact.mobile %>" required>
                                    <!-- <div class="help-block with-errors"></div> -->
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Subject" class="form-control" name="_subject" required>
                                    <!-- <div class="help-block with-errors"></div> -->
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message" name="message" rows="4" required></textarea>
                                    <!-- <div class="help-block with-errors"></div> -->
                                </div>
                                <div class="submit-button text-center">
                                    <button class="btn hvr-hover" id="submit" type="submit">Send Message</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <!-- <div class="clearfix"></div> -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End contact -->

<% include instagram-feed %>
<% include userfooter %>
