<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>99books</title>
    <meta name="keywords" content="99books">
    <meta name="description" content="Book Selling portal">
    <meta name="author" content="">

    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/ico" href="../../images/favicon.ico"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../../css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../../css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../css/custom.css">
  	<!-- Animate.css -->
	  <link rel="stylesheet" href="../../css/animate.css">
	  <!-- Icomoon Icon Fonts-->
  	<link rel="stylesheet" href="../../css/icomoon.css">
	  <!-- Magnific Popup -->
  	<link rel="stylesheet" href="../../css/magnific-popup.css">
  	<!-- Salvattore -->
	  <link rel="stylesheet" href="../../css/salvattore.css">

    <!-- Modernizr JS -->
	  <script src="../../js/modernizr-2.6.2.min.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- Start Top -->
<div class="main-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="text-slid-box">
                    <div id="offer-box" class="carouselTicker">
                        <ul class="offer-box">
                            <li>
                                <i class="fab fa-opencart"></i> Off 10%! Shop Now
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> 50% - 80% off
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> 20% off on First Purchase
                            </li>
                            <li> 
                                <i class="fab fa-opencart"></i> Off 50%! Shop Now
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> 50% - 80% off on some Books
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> 20% off Entire Purchase
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> Off 50%! Shop Now
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <!-- <div class="custom-select-box">
                    <select id="basic" class="selectpicker form-control" data-placeholder="select_city">
                    <option>Indore</option>
                    <option>Bhopal</option>
                </select>
                </div> -->
                <div class="right-phone-box">
                    <p>Call us: <a href="#"> +91 XXXXX-XXXXX </a></p>
                </div>
                <div class="our-link">
                    <ul>
                        <li><a href="/users/sell">Sell Books</a>
                        <li><a href="/users/my-account">My Account</a>
                        <li><a href="/users/usercontact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Top -->

<!-- NAVBAR -->
    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="/"><img src="../../images/logo.jpg" class="logo" alt="logo 99books Readers are leaders" style="width: 170px; height: 80px;"></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <!-- HOME start -->
                        <li class="nav-item "><a class="nav-link" href="/users">Home</a></li>
                        <!-- HOME end -->

                        <!-- About Us start -->
                        <li class="nav-item "><a class="nav-link" href="/users/userabout">About Us</a></li>
                        <!-- About Us end -->

                        <!-- Categories start -->
                        <li class="nav-item "><a class="nav-link" href="/users/categorylist">Books</a></li>

                        <!-- Gallery start -->
                        <li class="nav-item"><a class="nav-link" href="/users/usergallery">Gallery</a></li>
                        <!-- Gallery end -->
                        
                        <!-- Our Service Us start -->
                        <li class="nav-item"><a class="nav-link" href="/users/userservice">Our Service</a></li>
                        <!-- Our Service end -->
                        
                        <!-- Contact Us start -->
                        <li class="nav-item"><a class="nav-link" href="/users/usercontact">Contact Us</a></li>
                        <!-- Contact Us end -->
                        
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <!-- Login start -->
                        <li class="nav-item"><a class="nav-link" href="../../login">Logout</a></li>
                        <!-- Login end -->
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->